body{

  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;

}

a{
  text-decoration: none;
}


.btn-success{
  background-color: #28bb65;
  color: #fff;
  cursor: pointer;
  width: 100%;
  border: 1px solid #ccc;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: 0;
  padding: 0 10px;
}

section{
  background-color: #efefef;
  padding: 20px;
  width: 400px;

  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  margin: 300px auto;
  border-radius: 10px;
  padding-right: 10px;

}

input{
  width: 100%;
  border: 1px solid #ccc;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: 0;
  /*padding-left: 10px;*/
}

.social-login-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: aliceblue;
  height: 100px;
  border-radius: 15px;
  justify-content: space-evenly;
}

.fas.fa-spinner.fa-spin.loading{
  display: none;
}

.panel{
  display: none;
}
.box{
  position: absolute;
  top: 0;
  left: 0;
  background-color: aqua;
  height: 100px;
  width: 200px;

}

.alart{
  display: flex;
  background-color: coral;
  width: 100%;
  height: 30px;
  align-items: center;
  border-radius: 3px;
  margin: 10px 0px;
}

.mtm{
  padding-right: 10px;
  color: aliceblue;

}



$switch-width: 100px;
$switch-height: 40px;
$switchToggle-width: $switch-height;

$sky-day: #2196F3;
$sky-night: #023660;
$sun: #ffeb3b;
$sun-center: #ffc107;
$sun-light: rgba(255,235,255,0.4);
$moon: #ddd;
$moon-light: rgba(255,255,255,0.2);
$star: #fff;
$cloud: #fefefe;


.switch-wrapper input {display:none;}

.switch-label{
  font-size: 1rem;
  display: inline-block;
  line-height: $switch-height;
  vertical-align: top;
  padding: 5px 10px;
  transition: transform ease-in .2s;
  font-weight: bold;
  opacity: 0.6;
}
.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
  cursor: pointer;
  border-radius: $switch-width/2;
  border: 2px solid #eee;
  background-color: $sky-day;
  background-image:
          radial-gradient(circle, $cloud 20%, transparent 30%),
          radial-gradient(circle, $cloud 20%, transparent 30%),
          radial-gradient(circle, $cloud 20%, transparent 30%),
          radial-gradient(circle, $cloud 20%, transparent 30%),
          radial-gradient(circle, $cloud 20%, transparent 30%),
          radial-gradient(circle, $cloud 20%, transparent 30%);
  background-size: 50% 50%, 60% 60%, 40% 40%, 40% 40%, 50% 50%, 40% 40%;
  background-position: 60% 82%, 80% 80%, 82% 80%, 110% 20%, 134% 12%, 130% 20%;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
  overflow: hidden;
}

.switch:before {
  position: absolute;
  content: "";
  height: $switch-height - 5;
  width: $switch-height - 5;
  top: 50%;
  left: 2px;
  cursor: pointer;
  transform: translateY(-50%);
  background-color: $sun;
  background-image: radial-gradient(circle, $sun-center 15%, $sun 100%);
  box-shadow: 0px 0px 20px 10px $sun-light;
  transition: transform ease-in .2s;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.switch-label.day{
  transform: scale(1.1);
  opacity: 1;
}

input:checked ~ .switch {
  background-color: $sky-night;
  background-image:
          radial-gradient(circle, $star 10%, transparent 30%),
          radial-gradient(circle, $star 10%, transparent 30%),
          radial-gradient(circle, $star 10%, transparent 30%),
          radial-gradient(circle, $star 10%, transparent 30%),
          radial-gradient(circle, $star 10%, transparent 30%),
          radial-gradient(circle, $star 10%, transparent 30%),
          radial-gradient(circle, $star 10%, transparent 30%),
          radial-gradient(circle, $star 10%, transparent 30%),
          radial-gradient(circle, $star 10%, transparent 30%);
  background-size: 8% 8%, 7% 7%, 6% 6%, 8% 8%, 8% 8%, 6% 6%, 6% 6%, 8% 8%, 7% 7%;
  background-position: 20% 20%, 45% 30%, 25% 55%, 20% 90%, 40% 60%, 5% 50%, 58% 10%, 58% 60%, 50% 80%;
  background-repeat: no-repeat;

  &:before{
    background-color: $moon;
    background-image:
            radial-gradient(circle, darken($moon,10%) 50%, transparent 50%),
            radial-gradient(circle, darken($moon,8%) 50%, transparent 50%),
            radial-gradient(circle, darken($moon,8%) 50%, transparent 50%),
            radial-gradient(circle, darken($moon,8%) 50%, transparent 50%),;
    background-size: 40% 40%, 25% 25%, 50% 50%, 30% 30%;
    background-position: 20% 20%, 65% 30%, 120% 100%, 20% 80%;
    box-shadow: 0px 0px 20px 10px $moon-light;
  }
}

.switch-wrapper input:checked{
  ~ .switch-label.day{
    transform: scale(1);
    opacity: 0.6;
  }
  ~ .switch-label.night{
    transform: scale(1.1);
    opacity: 1;
  }
}

.switch-wrapper input:checked ~ .switch:before{
  transform: translate($switch-width - $switchToggle-width, -50%);
}

.night{

  background-color: black;
}

.switch-wrapper{
  display: flex;
  justify-content: center;
}

