body{

    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}


.btn-success{
    background-color: #28bb65;
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: 0;
    padding: 0 10px;
}

section{
    background-color: #efefef;
    padding: 20px;
    width: 400px;

    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    margin: 300px auto;
    border-radius: 10px;
    padding-right: 10px;

}

input{
    width: 100%;
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: 0;
    /*padding-left: 10px;*/
}

.social-login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: aliceblue;
    height: 100px;
    border-radius: 15px;
    justify-content: space-evenly;
}

.fas.fa-spinner.fa-spin.loading{
    display: none;
}

.panel{
    display: none;
}
.box{
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    height: 100px;
    width: 200px;

}

.alart{
    display: flex;
    background-color: coral;
    width: 100%;
    height: 30px;
    align-items: center;
    border-radius: 3px;
    margin: 10px 0px;
}

.mtm{
    padding-right: 10px;
    color: aliceblue;

}







